
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
        <div ngoc-shop-directive></div>
        <ngoc-shop-directive></ngoc-shop-directive>
        <input type="number" ng-model="num" /> Value of TextBox : {{num}}
        <button ng-click="checkNumber()">Click me</button>
        {{message}}
    </div>
</body>
</html>
